

#appBox {
	cMain: #CCCCFF;
	cSecondary: #AAAAFF;
	cBorder: #0000FF;
	
	-fx-background-color: cMain; 
	-fx-border-width: 1; 
	-fx-border-color: cBorder;
	-fx-cursor: default;
}

#appBox:hover {
	-fx-background-color: cSecondary; 
	-fx-border-width: 1; 
	-fx-border-color: cBorder;
	-fx-cursor: hand;
}

.button {
	-fx-background-color: cMain; 
	-fx-border-width: 1; 
	-fx-border-color: cBorder;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: cSecondary; 
	-fx-border-width: 1; 
	-fx-border-color: cBorder;
	-fx-cursor: hand;
}

.button:pressed {
	-fx-background-color: cMain; 
	-fx-border-width: 1; 
	-fx-border-color: cBorder;
	-fx-cursor: hand;
}

.list-view {
	-fx-border-width: 1; 
	-fx-border-color: cBorder;
	list-cell-color: cMain;
}

.list-cell {
	-fx-background-color: list-cell-color;
}